<div class="upcoming-meetings-box">
  <h3 style="padding: 0px 10px">Your upcoming meetings</h3>
  <table>
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Username</th>
        <th>Agenda</th>
        <th>Date</th>
        <th>Time</th>
        <th>Room</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of upcomingMeetings; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ meeting.userName }}</td>
        <td>{{ meeting.agenda }}</td>
        <td>{{ meeting.fromDatetime | date : "dd-MM-YYYY" }}</td>
        <td>{{ meeting.fromDatetime | date : "HH:mm" }}</td>
        <td>
          {{ meeting.roomid }}
          <p class="delete" (click)="deleteMeeting(meeting)">Delete</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
