<div class="container">
  <div class="button-container">
    <button class="book-meeting-button" (click)="openMeetingDialog()">
      Book Meeting
    </button>
    <button class="book-meeting-button" (click)="openStatusDialog()">
      Show Room Status
    </button>
  </div>
  <app-create-meeting-dialog
    *ngIf="showMeetingDialog"
    (close)="closeMeetingDialog()"
    (updatedmeetings)="handleMeetingsUpdated()"
  ></app-create-meeting-dialog>
  <app-check-status-dialog
    *ngIf="showStatusDialog"
    (close)="closeStatusDialog()"
  ></app-check-status-dialog>
  <app-upcoming-meetings
    [upcomingMeetings]="upcomingMeetingsForUser"
    (updateMeetings)="handleMeetingsUpdated()"
  ></app-upcoming-meetings>
  <app-meeting-room-details
    [upcomingMeetings]="upcomingMeetings"
  ></app-meeting-room-details>
</div>
