<div class="meeting-room-details-box">
  <h2>Meeting Room Details</h2>
  <p>Select Meeting Room</p>
  <select (change)="onSelectionChange($event)">
    <option value="" disabled selected>Select your option</option>
    <option *ngFor="let id of meetingRoomIds; index as i" [value]="id">
      Meeting Room # {{ id }}
    </option>
  </select>
  <table>
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Username</th>
        <th>Agenda</th>
        <th>Date</th>
        <th>Time</th>
        <th>Room</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of upcomingMeetingsByRoom; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ meeting.userName }}</td>
        <td>{{ meeting.agenda }}</td>
        <td>{{ meeting.fromDatetime | date : "dd-MM-YYYY" }}</td>
        <td>{{ meeting.fromDatetime | date : "HH:mm" }}</td>
        <td>{{ meeting.roomid }}</td>
      </tr>
    </tbody>
  </table>
</div>
